@import url(http://fonts.googleapis.com/css?family=Pontano+Sans|Londrina+Solid);

body {	
    background: #F1F1F1;	
    font-family:'Pontano Sans', sans-serif;
    font-size: 16px;
    margin:0;
    padding:10px;    
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Londrina Solid', sans-serif;
	margin:0;	
}

h1 {
	font-size:60px;
}

#issueboard {
	width:100%;
	table-layout:fixed;
	clear:both;
}

#issueboard th {
	font-family:'Londrina Solid', sans-serif;
	border-bottom:1px solid #000000;
	text-align:left;
	margin:0px;
	padding:1px;
	font-size:24px;
}

#issueboard td {
	margin:0px;
	padding:1px;
}

.border_right {
	border-right:1px solid #000000;
}

.issue_section {
	padding-bottom:30px;
	vertical-align:top;
} 

div.ticket_block {
	width:90%;
	margin:auto;
	
	border-radius:5px;
	border:2px solid #000000;
	
	z-index: 100;
	background:#FFFFFF;
	margin-top:20px;
}

div.ticket_block p {
	padding: 5px;
	display:block;
}

div.ticket_block p.ticket_title {
    min-height:100px;
    word-wrap: break-word;
}

div.ticket_block p.assignee {
    padding: 5px;
    display:block;
    width:100%;
    min-height:0;
}

div.ticket_block h3 {
    color:#EFEFEF;
    padding:5px;
}

.h3_top {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.h3_bottom {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

div.ui-draggable-dragging {
	border:2px solid #FF0000;
}

 #legend td {
 	cursor:pointer;
 	padding-right:2px;
 }
 
 #legend .highlight {
  background-color: #ccc;
  border: 1px solid #000;
 }
 
 .user_color {
 	width: 125px;
 	float:right;
 	height: 14px;
 	margin-top:4px;
 }

#overlay_container {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:101;
}

#loading_overlay {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#000000;
    top:0;
    left:0;
    z-index:101;
}

#loading {
    margin:auto;
    width:20%;
    text-align:center;
    height:10%;
    z-index:102;
    opacity:1;
    background:#EFEFEF;
    border:3px solid #FFF;
    border-radius:10px;
    font-family:'Londrina Solid', sans-serif;
    font-size:30px;
    position:absolute;
    top:45%;
    left:40%;
    padding-top:1.5%;
}

#legend {
    float:right;
    width:250px;
    border: 1px solid #000000;
    border-radius:5px;
    padding:5px;
    margin-top:-60px;
}

#legend table {
    width:100%;
}

#legend table th {
    width:50%;
    text-align:left;
    font-family:'Londrina Solid', sans-serif;
}

#login {
    float:left;
}
